#nameDisplayer{
    width: 13rem;
    height: 3.5rem;
    background-color: #246A73;
    border-radius: 1rem;
}

#controller{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 1rem;
}